.password-card {
  margin: 0 auto;
  margin-top: 1em;
  @media (max-width: 767px) {
    margin-top: 0;
    width: 100%;
  }
  @media (min-width: 768px) and (max-width: 991px) {
    width: 70%;
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    width: 55%;
  }
  @media (min-width: 1200px) {
    width: 40%;
  }
}

.demo-card-wide > .mdl-card__title {
  padding: 0;
  img {
    width: 100%;
  }
}

.mdl-card__supporting-text {
  width: 100%;
}

.username {
  color: #0e5aa8;
  font-weight: bold;
}

.txt-error {
  color: red;
}