<div class="demo-card-wide mdl-card mdl-shadow--2dp password-card">
  <div class="mdl-card__title">
    <img src="assets/images/reset-password-banner.jpg">
  </div>
  <div class="mdl-card__supporting-text">
    <div *ngIf="!newPassword && !isError">
      <h4>
        <div class="mdl-spinner mdl-js-spinner is-active" style="vertical-align: middle"></div>
        Đang xác thực
      </h4>
    </div>
    <div *ngIf="newPassword" class="appear-top-down">
      <h4>Mật khẩu mới của tài khoản <span class="username">{{username}}</span> là :</h4>
      <div class="text-center">
        <h1>{{newPassword}}</h1>
      </div>
    </div>
    <div *ngIf="isError" class="txt-error">
      <h4>Đã có lỗi xảy ra!</h4>
    </div>
  </div>
</div>