<div id="myCarousel" class="carousel slide col-lg-9" data-ride="carousel" data-interval="2500" data-pause="false">
  <div class="carousel-inner">
    <div *ngFor="let item of images; let i = index; trackBy : index" class="item" [class.active]="i === 0">
      <img src="../../../assets/images/b{{i + 1}}.png" style="width:100%;">
    </div>
  </div>
</div>

<div class="front">
  <div class="text-right col-lg-9">
    <div class="pull-right col-xs-8 col-sm-4 col-md-2">
      <a href="" class="store-icon">
        <img src="../../../assets/images/app-store.png">
      </a>
    </div>
    <div class="pull-right col-xs-8 col-sm-4 col-md-2">
      <a href="https://play.google.com/store/apps/details?id=com.stubid" target="_blank" class="store-icon">
        <img src="../../../assets/images/googlep-play.png">
      </a>
    </div>
  </div>
</div>