@import '../../styles.scss';

form {
    @media screen and (min-width: 960px) { padding-top: 4em }
    >* {
        display: block;
        margin: 0.8em auto;
        padding: 0.5em;
        font-size: 1.4em;
        @media screen and (max-width: 319px) { width: 100% }
        @media screen and (min-width: 320px) and (max-width: 479px) { width: 95% }
        @media screen and (min-width: 480px) and (max-width: 719px) { width: 85% }
        @media screen and (min-width: 720px) and (max-width: 959px) { width: 70% }
        @media screen and (min-width: 960px) and (max-width: 1199px) { width: 50% }
        @media screen and (min-width: 1200px) { width: 30% }
    }
    button {
        line-height: 1.4em;
        overflow-x: hidden;
        white-space: nowrap;
        border: none;
        outline: none;
        background: $color-primary;
        color: white;
        cursor: pointer;
        transition: all 0.7s ease;
        &:hover { opacity: 0.9 }
        &.loading { width: 2.4em; border-radius: 50% }
    }
    .loader {
        margin: 0 auto;
        width: 1em;
        height: 1em;
        border: 0.2em solid #f3f3f3;
        border-top-color: #3498db;
        border-radius: 50%;
        -webkit-animation: spin 1s linear infinite;
        animation: spin 1s linear infinite;
    }

    @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
}