@import '../../style.scss';

:host {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
}

form {
    button {
        line-height: 2.8em;
        height: 2.8em;
        width: 300px;
        overflow: hidden;
        white-space: nowrap;
        border: none;
        outline: none;
        background: $color-primary;
        color: white;
        cursor: pointer;
        transition: all 0.4s ease;
        &:hover { opacity: 0.55 }
        &.loading { width: 2.8em }
        &.radius { border-radius: 1.4em }
    }
    .loader {
        margin: 0 auto;
        width: 2em;
        height: 2em;
        border: 0.2em solid #f3f3f3;
        border-top-color: #3498db;
        border-radius: 50%;
        -webkit-animation: spin 1s linear infinite;
        animation: spin 1s linear infinite;
    }

    @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
}