:host {
  padding: 0 1em;
  width: 100%;
}

.images {
  height: 200px;
  img {
    max-height: 100%;
  }
}

.text-field {
  width: 100%;
}

.mdl-button--accent.mdl-button--accent.mdl-button--raised.btn-cancel {
  background-color: rgb(244,67,54);
}